black==22.1.0
click==8.0.4
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.0.13
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.5.1
python-decouple==3.6
pytz==2021.3
static3==0.7.0
tomli==2.0.1
typing-extensions==4.1.1
gunicorn==20.0.4
psycopg2-binary==2.8.6
django-extensions~=2.0.0
django-test-without-migrations==0.6